src/main/resources/wsdl/WebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions targetNamespace="http://ws.accenture.it/" name="WebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.accenture.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.accenture.it/" schemaLocation="WebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="recuperoAtleta">
    <part name="parameters" element="tns:recuperoAtleta"/>
  </message>
  <message name="recuperoAtletaResponse">
    <part name="parameters" element="tns:recuperoAtletaResponse"/>
  </message>
  <message name="recuperoGara">
    <part name="parameters" element="tns:recuperoGara"/>
  </message>
  <message name="recuperoGaraResponse">
    <part name="parameters" element="tns:recuperoGaraResponse"/>
  </message>
  <message name="saluti">
    <part name="parameters" element="tns:saluti"/>
  </message>
  <message name="salutiResponse">
    <part name="parameters" element="tns:salutiResponse"/>
  </message>
  <message name="recuperoAllGare">
    <part name="parameters" element="tns:recuperoAllGare"/>
  </message>
  <message name="recuperoAllGareResponse">
    <part name="parameters" element="tns:recuperoAllGareResponse"/>
  </message>
  <message name="recuperoAllAtleti">
    <part name="parameters" element="tns:recuperoAllAtleti"/>
  </message>
  <message name="recuperoAllAtletiResponse">
    <part name="parameters" element="tns:recuperoAllAtletiResponse"/>
  </message>
  <portType name="WebServiceManager">
    <operation name="recuperoAtleta">
      <input wsam:Action="http://ws.accenture.it/WebServiceManager/recuperoAtletaRequest" message="tns:recuperoAtleta"/>
      <output wsam:Action="http://ws.accenture.it/WebServiceManager/recuperoAtletaResponse" message="tns:recuperoAtletaResponse"/>
    </operation>
    <operation name="recuperoGara">
      <input wsam:Action="http://ws.accenture.it/WebServiceManager/recuperoGaraRequest" message="tns:recuperoGara"/>
      <output wsam:Action="http://ws.accenture.it/WebServiceManager/recuperoGaraResponse" message="tns:recuperoGaraResponse"/>
    </operation>
    <operation name="saluti">
      <input wsam:Action="http://ws.accenture.it/WebServiceManager/salutiRequest" message="tns:saluti"/>
      <output wsam:Action="http://ws.accenture.it/WebServiceManager/salutiResponse" message="tns:salutiResponse"/>
    </operation>
    <operation name="recuperoAllGare">
      <input wsam:Action="http://ws.accenture.it/WebServiceManager/recuperoAllGareRequest" message="tns:recuperoAllGare"/>
      <output wsam:Action="http://ws.accenture.it/WebServiceManager/recuperoAllGareResponse" message="tns:recuperoAllGareResponse"/>
    </operation>
    <operation name="recuperoAllAtleti">
      <input wsam:Action="http://ws.accenture.it/WebServiceManager/recuperoAllAtletiRequest" message="tns:recuperoAllAtleti"/>
      <output wsam:Action="http://ws.accenture.it/WebServiceManager/recuperoAllAtletiResponse" message="tns:recuperoAllAtletiResponse"/>
    </operation>
  </portType>
  <binding name="WebServiceManagerPortBinding" type="tns:WebServiceManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="recuperoAtleta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="recuperoGara">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saluti">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="recuperoAllGare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="recuperoAllAtleti">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebService">
    <port name="WebServiceManagerPort" binding="tns:WebServiceManagerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

